*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: rubik;
    color: white;
    /* background: #EFEFBB; */
    background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
    margin-bottom: 40px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}


.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
    content: "";
    display: block;
    width: 50%;
    height: 45%;
    border-radius: 100%;
    background-color: #fff;
    opacity: .7;
    position: absolute;
    top: 15%;
    left: 25%;
}

.steel {
	background-color: #B8B8D0;
}

.fire {
	background-color: #ff9346;
}

.grass {
	background-color: #78C850;
}

.electric {
	background-color: #F8D030;
}

.water{
    background-color: #6890F0;
}

.ice{
    background-color: #98D8D8;
}

.ghost{
    background-color: #705898;
}

.ground {
	background-color: #E0C068;
}

.rock {
	background-color: #B8A038;
}

.fairy {
	background-color: #EE99AC;
}

.poison {
	background-color: #A040A0;
}

.bug {
	background-color: #c8d64c;
}

.dragon {
	background-color: #7038F8;
}

.psychic {
	background-color: #F85888;
}

.flying {
	background-color: #A890F0;
}

.fighting {
	background-color: #bb4640;
}

.normal {
	background-color: #A8A878;
}

.dark{
    background-color: #705848;
}

.border-steel {
	border: 7px solid #B8B8D0;
}

.border-fire {
    border: 7px solid #ff9346;
}

.border-grass {
    border: 7px solid #78C850;
}

.border-electric {
    border: 7px solid #F8D030;
}

.border-water{
    border: 7px solid #66caf5;
}

.border-ice{
    border: 7px solid #98D8D8;
}

.border-ghost{
    border: 7px solid #705898;
}

.border-ground {
    border: 7px solid #E0C068;
}

.border-rock {
    border: 7px solid #B8A038;

}

.border-fairy {
    border: 7px solid #EE99AC;
}

.border-poison {
    border: 7px solid #A040A0;
}

.border-bug {
    border: 7px solid #c8d64c;
}

.border-dragon {
    border: 7px solid #7038F8;
}

.border-psychic {
    border: 7px solid #F85888;
}

.border-flying {
    border: 7px solid #A890F0;
}

.border-fighting {
    border: 7px solid #bb4640;
}

.border-normal {
    border: 7px solid #A8A878;
}

.border-dark{
    border: 7px solid #705848
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}
