*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
	--normal: #A8A878; 
	--fire: #F08030;
	--fighting: #C03028;
	--water: #6890F0;
	--flying: #A890F0;
	--grass: #78C850;
	--poison: #A040A0;
	--eletric: #F8D030;
	--ground: #E0C068;
	--psychic: #F85888;
	--rock: #B8A038;
	--ice: #98D8D8;
	--bug: #A8B820;
	--dragon: #7038F8;
	--ghost: #705898;
	--dark: #705848;
	--steel: #B8B8D0;
	--fairy: #EE99AC;
}

body{
    font-family: rubik;
    color: white;
    background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
}

.container {
	padding: 40px;
}

h1 {
	text-align: center;
	font-size: 54px;
	margin-bottom: 40px;
	text-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.445);
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}


.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
    content: "";
    display: block;
    width: 50%;
    height: 45%;
    border-radius: 100%;
    background-color: #fff;
    opacity: .7;
    position: absolute;
    top: 15%;
    left: 25%;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}

.steel {
	background-color: var(--steel);
}

.fire {
	background-color: var(--fire);	
}

.grass {
	background-color: var(--grass);
}

.electric {
	background-color: var(--eletric);
}

.water{
    background-color: var(--water);
}

.ice{
    background-color: var(--ice);
}

.ghost{
    background-color: var(--ghost);
}

.ice{
	background-color: var(--ice);
}

.ground {
	background-color: var(--ground);
}

.rock {
	background-color: var(--rock);
}

.fairy {
	background-color: var(--fairy);
}

.poison {
	background-color: var(--poison);
}

.bug {
	background-color: var(--bug);
}

.dragon {
	background-color: var(--dragon);
}

.psychic {
	background-color: var(--psychic);
}

.flying {
	background-color: var(--flying);
	
}

.fighting {
	background-color: var(--fighting);
}

.normal {
	background-color: var(--normal);
}

.dark{
    background-color: var(--dark);
}

.border-steel {
	border: 7px solid var(--steel);
}

.border-fire {
    border: 7px solid var(--fire);
}

.border-grass {
    border: 7px solid var(--grass);
}

.border-electric {
    border: 7px solid var(--eletric);
}

.border-water{
    border: 7px solid var(--water);
}

.border-ice{
    border: 7px solid var(--ice);
}

.border-ghost{
    border: 7px solid var(--ghost);
}

.border-ground {
    border: 7px solid var(--ground);
}

.border-rock {
    border: 7px solid var(--rock);

}

.border-fairy {
    border: 7px solid var(--fairy);
}

.border-poison {
    border: 7px solid var(--poison);
}

.border-bug {
    border: 7px solid var(--bug);
}

.border-dragon {
    border: 7px solid var(--dragon);
}

.border-psychic {
    border: 7px solid var(--psychic);
}

.border-flying {
    border: 7px solid var(--flying);
}

.border-fighting {
    border: 7px solid var(--fighting);
}

.border-normal {
    border: 7px solid var(--normal);
}

.border-dark{
    border: 7px solid var(--dark);
}
